@charset "utf-8";
/* CSS Document */

#wrap_detailspage { width:1000px; margin:auto; position:relative}
html { background:url(../images/Microsite-f2-Meohay.png) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}