@charset "utf-8";
/* CSS Document */
/* ====================== Default ====================== */
* { margin:0; padding:0; border:0}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{ font-family: Arial,Helvetica,sans-serif}
strong,strong span,b,b a { font-weight:700}
em { font-style:italic; font-family:Arial, Helvetica, sans-serif}
ul,ol { list-style:none}
img { border:none}
a image {border: none}
a { text-decoration:none; color:#2398c9; outline: none}
a:hover { color:#ff7100; cursor:pointer}
p { padding:3px 0}
i { color:#999}
hr { clear:both; padding:0; margin:0; border:0}
.italic { font-style:italic}
.block { display:block}
.clear { clear:both} 
.right { float: right} 
.left { float: left}
h1{font-size:2.2em}
h2{font-size:2em;font-weight:300}
h3{font-size:1.8em;font-weight:300}
h4{font-size:1.6em}
h5{font-size:1.4em}
p{font-size:1.2em}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input:-ms-input-placeholder,textarea:-ms-input-placeholder { color:#bbb; font-style:italic;font-family:Arial, Helvetica, sans-serif}
body{ font:14px/18px Arial, Helvetica, sans-serif; background-size:100%; color:#000; overflow-y:hidden}
html { background:url(../images/p2-background.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}
h1 { position:fixed; top:-99px}
.f12 { font-size:12px}
.f13 { font-size:13px}
.f14 { font-size:14px}
.f15 { font-size:15px}

/* ------------------- */

@font-face {
  font-family: 'UTMAndrogyne';
  src: url('fonts/UTMAndrogyne.eot');
  src: url('fonts/UTMAndrogyne.eot?#iefix') format('embedded-opentype'),
       url('fonts/UTMAndrogyne.woff') format('woff'),
       url('fonts/UTMAndrogyne.ttf') format('truetype'),
       url('fonts/UTMAndrogyne.svg#UTMAndrogyne') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* TOP BAR */
.wrapper_1000 { width:1000px; margin:auto; position:relative}
#topbar { width:100%; height:128px; background:url(../images/p2-background-elements.png) top center no-repeat}
#topbar .repeatmenu { width:100%; height:48px; background-color:#fafafa; position:absolute}
#logo { width:129px; height:117px; background: url(../images/p2-background-elements.png) -400px -930px no-repeat; position:absolute; top:9px; left:50px}
.iconKun { width:85px; height:67px; background:url(../images/p2-background-elements.png) -560px -780px no-repeat; position:absolute; right:110px}
.login { float:right; margin:20px 10px 0 0; transition:all .3s}
.login a{ font-family:'UTMAndrogyne'; font-size:12px; color:#002d56; padding:8px 10px; border-left:1px dashed #002d56; transition:all .3s}
.login span {width: 0px;height: 0px;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-left: 8px solid #002d56; float:right; margin-top:7px; transition:all .3s}
.login:hover a { border-left:4px double #f9ce00; color:#f9ce00; transition:all .3s; padding-right:5px}
.login:hover span { border-left: 8px solid #f9ce00; transition:all .3s}
.login:hover { margin-right:0; transition:all .3s}

/* Menu Dropdown */
nav {position:absolute; left:200px}
nav ul ul{display:none}
nav ul li:hover > ul{display:block}
nav ul{background:none;list-style:none;position:relative;display:inline-table}
nav ul li{float:left}
nav ul li:hover{}
nav ul li:hover a,nav ul li.active a{ color:#008a7e}
nav ul li a{display:block;padding:28px 8px 10px;color:#a1a1a1;text-decoration:none; font-family:'UTMAndrogyne'; font-size:13px}
nav ul li a span { display:block; float:left; width:21px; height:19px; background:url(../images/p2-background-elements.png) -293px -920px no-repeat; margin-top:-3px}
nav ul li:hover a span,nav ul li.active a span { background-position: -300px -880px}
nav ul ul{background:url(../images/p2-background-elements.png) -560px -880px no-repeat;padding:0;position:absolute;top:100%;min-height: 125px; z-index:100}
nav ul ul li{float:none;position:relative}
nav ul ul li a{padding:14px 0px 0px 20px;color:#e2e2e2!important; width:110px; text-shadow:3px 3px 3px #006156}
nav ul ul li a:hover{color:#fff!important; background:url(../images/p2-background-elements.png) -291px -910px no-repeat}
nav ul ul ul{position:absolute;left:100%;top:0}

/* Flower moving */
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	10% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	30% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	40% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	50% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	90% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}
@-moz-keyframes spaceboots {
	0% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	10% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	30% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	40% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	50% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	70% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	90% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	100% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
}
.sunflower {
	position:fixed; background:url(../images/sunflower.png) no-repeat; background-size:cover;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	-moz-animation-name: spaceboots;
	-moz-animation-duration: 4s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.sunflower.f1 { bottom:-82px; right:19px; width:66px; height:169px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f2 { bottom:-16px; right:144px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f3 { bottom:11px; right:184px; width:31px; height:79px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s}
.sunflower.f4 { bottom:-37px; right:93px; width:66px; height:169px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s}
.sunflower.f5 { bottom:-67px; right:62px; width:66px; height:169px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s}
.sunflower.f6 { bottom:-43px; right:85px; width:38px; height:97px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s}
.sunflower.f7 { bottom:-44px; right:37px; width:66px; height:169px; -webkit-animation-delay: 0.5s; animation-delay: 0.5s}
.sunflower.f8 { bottom:-60px; right:37px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}
.sunflower.f9 { bottom:-60px; right:115px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}
.sunflower.f10 { bottom:-44px; right:-6px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f11 { bottom:-103px; right:162px; width:66px; height:169px; -webkit-animation-delay: 0.2s; animation-delay: 0.3s}
