@charset "utf-8";
/* CSS Document */

#wrap_answerpage { width:1000px; margin:auto; position:relative}
.milk-bg { width:791px; height:497px; background:url(../images/milk-bg.png) no-repeat; bottom:0; left:0; position:fixed}
.question { width:573px; height:40px; background:url(../images/question_question.png) no-repeat; position:absolute; top:110px; left:350px}
form.ans { position:absolute; right:80px; top:164px; width: 500px}
form.ans textarea { background:rgba(255,255,255,0.8); resize:none; width:418px; height:136px; border-radius:10px; border:3px solid #009588; font:14px/18px Arial, Helvetica, sans-serif; padding:15px 12px}
::-webkit-input-placeholder {font-style:italic}
:-moz-placeholder { /* Firefox 18- */ font-style:italic}
::-moz-placeholder {  /* Firefox 19+ */ font-style:italic}
:-ms-input-placeholder { font-style:italic}
form.ans input[type=text] {background:rgba(255,255,255,0.8); width:168px; height:16px; border-radius:10px; border:3px solid #009588; font:14px/18px Arial, Helvetica, sans-serif; padding:12px 12px 12px 22px; margin:-8px 10px 0 37px}
.mail-icon { width:60px; height:61px; background:url(../images/answer_email-icon.png) no-repeat; position:absolute; top:183px; left:30px}
.text-chon-ava { width:380px; height:85px; background:url(../images/text-chon-ava.png) 10px 15px no-repeat; margin-top:10px; padding-left:100px}
.text-chon-ava a { margin-left:10px; float:left}
.text-chon-ava a img {margin-top:10px; transition:all 0.3s; opacity:0.5}
.text-chon-ava a:hover img,.text-chon-ava a.active img { margin-top:0px; transition:all 0.3s; opacity:1}

form.ans input[type=submit] { width:148px; height:46px; border:none; background:url(../images/button-submit.png) 0 -121px no-repeat; margin:30px 0 0 155px;color: transparent}
form.ans input[type=submit]:hover { cursor:pointer; background-position:0 -303px}

input[type=radio].css-checkbox {
	display: none
}
input[type=radio].css-checkbox + label.css-label {
	padding-left: 30px;
	height: 30px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer; float:left;margin-top: 33px;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -44px;
}
label.css-label {
	background-image: url(../images/checks.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fb-login { width:139px; height:48px; background:url(../images/p1-fb-login.png) no-repeat; margin:-6px 0 0}
=======
form.ans input[type=submit] { width:148px; height:46px; border:none; background:url(../images/button-submit.png) 0 -121px no-repeat; margin:20px 0 0 170px;color: transparent}
form.ans input[type=submit]:hover { cursor:pointer; background-position:0 -303px}

