@charset "utf-8";
/* CSS Document */
::selection { background: transparent}
::-moz-selection { background: transparent}
#wrap_landingpage { width:1000px; margin:auto; position:relative}
.tvc { width:437px; height:499px; background:url(../images/background_tvc.png) no-repeat; position: absolute; top:200px; left:-43px}
.tvc .social { width:200px; margin:35px 0 0 82px}
.bikipcuame { width:413px; height:248px; position:absolute; top:0; left:-20px; background:url(../images/background_1001bikip.png) no-repeat}
.question_img { width:483px; height:90px; background:url(../images/question_question_3.png) no-repeat; position:absolute; top:44px; left:495px}
.q_and_a { width:515px; position:absolute; top:160px; right:20px}
.q_and_a .chat { width:100%; clear:both}
.q_and_a .boy .ava { width:50px; height:50px; float:left; overflow:hidden}
.q_and_a .boy .ava img { width:100%; height:auto}
.q_and_a .chat .text { float:left; width:450px; margin: 0px 0 10px;}
.q_and_a .chat .text div { background-color:#f9d110; border-radius:7px; padding:10px 20px; width:auto; float:left}
.q_and_a .chat .text span { color:#fff; font: 10px italic Arial, Helvetica, sans-serif; display:block; padding-bottom:3px}
.q_and_a .chat .text b { font:14px/18px Arial, Helvetica, sans-serif; font-weight:normal}
.q_and_a .boy .arrowleft {width: 0px;height: 0px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 18px solid #f9d110;float: left;margin: 13px 0 0;}
.q_and_a .girl .ava { width:50px; height:50px; float:right; overflow:hidden}
.q_and_a .girl .ava img { width:100%; height:auto}
.q_and_a .girl .arrowright {width: 0px;height: 0px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 18px solid #f9d110;float: left;margin: 13px 0 0;}
.q_and_a .boy .text div { background-color:#f9d110; border-radius:7px; padding:10px; width:auto; float:left}
.q_and_a .girl .text div { background-color:#f9d110; border-radius:7px; padding:10px; width:auto; float:right}
.chat:hover .text div { background-color:#009588}
.chat:hover .arrowleft { border-right:18px solid #009588}
.chat:hover .arrowright { border-left:18px solid #009588}
.tvc .video { margin: 167px 0 0 83px}
.jcarousel-skin-tango li a b { width:290px; overflow:hidden; float:left}
.jcarousel-skin-tango li a span { display:block; width:80px; height:20px; float:left}
.binhluantiep { width:117px; height:29px; background:url(../images/p1-bt-binhluantiep.png) no-repeat; position:absolute; top:435px; right:-10px; font-family: 'UTMAndrogyne', Arial, Helvetica, sans-serif; color:#fff; padding:8px 0 0 24px; border-radius:5px; transition:all .3s}
.binhluantiep:hover { box-shadow: 0px 0px 10px 5px #fff; transition:all .3s}