@charset "utf-8";
/* CSS Document */

#topbar { width:100%; height:128px; background:url(../images/p2-background-elements.png) top center no-repeat}
#topbar .repeatmenu { width:100%; height:48px; background-color:#fafafa; position:absolute}
#logo { width:129px; height:117px; background: url(../images/p2-background-elements.png) 300px 990px no-repeat; position:absolute; top:9px; left:50px}
.login { float:right; margin:20px 10px 0 0; transition:all .3s}
.login a{ font-family:'UTMAndrogyne'; font-size:12px; color:#002d56; padding:8px 10px; border-left:1px dashed #002d56; transition:all .3s}
.login span {width: 0px;height: 0px;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-left: 8px solid #002d56; float:right; margin-top:7px; transition:all .3s}
.login:hover a { border-left:4px double #f9ce00; color:#f9ce00; transition:all .3s; padding-right:5px}
.login:hover span { border-left: 8px solid #f9ce00; transition:all .3s}
.login:hover { margin-right:0; transition:all .3s}
.wrapper_1000 { width:1000px; margin:auto; position:relative}
#tvc { width:560px; height:550px; background: url(../images/p2-background-elements.png) 0 -140px no-repeat; position:absolute; top:0; left:10px}
#tvc .video { width:443px; height:263px; margin:109px 0 0 38px; background-color:#060}
.grass { width:510px; height:190px; background: url(../images/p2-background-elements.png) 0 -690px no-repeat; position:absolute; top:380px; left:10px}
.char-home { width:301px; height:415px; position:absolute; top:73px; left:473px; background:url(../images/p2-background-elements.png) -790px -140px no-repeat}
.milkblock { position:absolute; top:165px; right:-10px; width:312px; height:263px; background:url(../images/p2-background-elements.png) -790px -780px no-repeat}
.board { width:170px; height:230px; position:absolute; top:-30px; right:20px}
.board .stick { width:34px; height:342px; background:url(../images/p2-background-elements.png) -1120px -140px no-repeat; right:75px; position:absolute}
.board .green a { display:block; width:155px; height:95px; background:url(../images/p2-background-elements.png) -560px -310px no-repeat; position:absolute; right:-7px; top:15px;
-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;}
.board .green a:hover {-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;}
.board .violet a { display:block; width:130px; height:75px; background:url(../images/p2-background-elements.png) -560px -410px no-repeat; position:absolute; right:41px; top:110px;-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;}
.board .violet a:hover {-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;}

/* Flower moving */
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	10% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	30% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	40% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	50% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	90% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}
@-moz-keyframes spaceboots {
	0% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	10% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	30% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	40% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	50% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	70% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	90% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	100% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
}
.sunflower {
	position:absolute; background:url(../images/sunflower.png) no-repeat; background-size:cover;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	-moz-animation-name: spaceboots;
	-moz-animation-duration: 4s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.sunflower.f1 { top:428px; left:37px; width:66px; height:169px}
.sunflower.f2 { top:457px; left:92px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f3 { top:478px; left:130px; width:31px; height:79px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s}
.sunflower.f4 { top:456px; left:387px; width:66px; height:169px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s}
.sunflower.f5 { top:446px; left:447px; width:66px; height:169px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s}
.sunflower.f6 { top:474px; left:492px; width:38px; height:97px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s}
.sunflower.f7 { top:380px; left:452px; width:66px; height:169px; -webkit-animation-delay: 0.5s; animation-delay: 0.5s}
.sunflower.f8 { top:405px; left:417px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}

/* Bubble Fade */
@-webkit-keyframes fade {
	0% { transform: scale(1)}
	10% { transform: scale(1.2)}
	15% { transform: scale(1)}
	20% { transform: scale(1.2)}
	25% { transform: scale(1)}
	30% { transform: scale(1.2)}
	35% { transform: scale(1)}
	100% { transform: scale(1)}
}
@-moz-keyframes fade {
	0% { transform: scale(1)}
	10% { transform: scale(1.2)}
	15% { transform: scale(1)}
	20% { transform: scale(1.2)}
	25% { transform: scale(1)}
	30% { transform: scale(1.2)}
	35% { transform: scale(1)}
	100% { transform: scale(1)}
}
.bubble { width:192px; height:169px; background: url(../images/p2-background-elements.png) -560px -570px no-repeat; position:absolute; top: 110px;right: 160px;

	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: fade;
	-moz-animation-duration: 5s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

.bubble2 { width:231px; height:167px; background: url(../images/p2-background-elements.png) -790px -570px no-repeat; position:absolute; top: -50px;right: 170px;

	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: fade;
	-moz-animation-duration: 5s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
