@charset "utf-8";
/* CSS Document */

#wrap_winlist { width:1000px; margin:auto; position:relative; background:url(../images/p2-bg-winlist.png) top right no-repeat; height:464px;top:-20px;}
.titlepage { width:238px; height:40px; position:absolute; top:-3px; left:290px}
.titlepage h2 { margin:16px 0 0 28px;font-family:'UTMAndrogyne',Arial, Helvetica, sans-serif; font-size:27px; color:#009386}
.imgtitle { width:142px; height:108px; background:url(../images/p2-bg-winlist.png) 0 -490px no-repeat; position:absolute; top:-25px; left:486px}
.back-link { display:block; width:67px; height:12px; position:absolute; background:url(../images/back-details.png) -15px 0 no-repeat;padding:7px;top:29px;right:77px; transition:all 0.3s}
.back-link:hover { background-position:0 0; transition:all 0.3s}

/* Tiny Scrollbar */
#scrollbar1 { width: 645px; position:absolute; top:140px; left:320px}
#scrollbar1 .viewport { width: 635px; height: 290px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; font-size:13px}
#scrollbar1 .scrollbar{ background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 6px; }
#scrollbar1 .track { height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: #faac2a; height: 10px; width: 8px; cursor: pointer; overflow: hidden; position: absolute; top:0; left:-1px}
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/* FORM */
form { position:absolute; top:85px; left:320px; width:670px}
.leftside { width:216px; float:left;padding-right: 20px;}
form h3 {font-family:'UTMAndrogyne',Arial, Helvetica, sans-serif; font-size:18px; color:#009588; padding-bottom:10px}
.leftside a { display:block; width:167px; height:167px; float:left; border:3px solid #c2c2c2; border-radius:3px; transition:all .3s}
.leftside a.choose { border-color:#009285}
.leftside a:hover { opacity:0.8; transition:all .3s;border-color:#009285}
.leftside #n1 { margin-right:20px; clear:both}
.fileUpload { position: relative;overflow: hidden;background:url(../images/p2-upload-inputfile.png) no-repeat;width:312px; height:40px; margin:5px 0 0 90px}
.fileUpload .text { float:right; margin:-15px 12px 0 0; color:#fff; font-weight:700; transition:all .3s}
.fileUpload:hover .text { color:#fce22b; transition:all .3s}
.leftside div.clear { height:20px}
.uploadFile { background:none; padding:12px 0 0 15px; width:250px}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 8px 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);
}
.rightside { width:420px; float:left}
.rightside .rowf { width:400px; clear:both}
.rightside .rowf span ,.fileUpload span{ font-size:15px; color:#fff; font-weight:700; display:block; float:left; width:80px; padding:15px 0 0; text-shadow: -2px 0px 0 #009588,2px 0px 0 #009588,0px -2px 0 #009588,0px 2px 0 #009588,-2px -2px 0 #009588,2px -2px 0 #009588,-2px 2px 0 #009588,2px 2px 0 #009588;}
.rightside .rowf input[type=text] { background:#fff; border:3px solid #008a7e; border-radius:10px; padding:7px 10px; width:285px; float:right; margin:5px 0}
.rightside input[type=submit] { width:148px; height:46px; border:none; background:url(../images/button-submit.png) 0 -121px no-repeat; margin:10px 0 0 170px;color: transparent}
.rightside input[type=submit]:hover { cursor:pointer; background-position:0 -303px}
.rightside h3 { margin-bottom:10px}
.rightside p.alert { font-size:12px; font-style:italic; display:block; margin:1px 0 0; padding-left:95px} 
.sendby { font-weight:700; margin:10px 0 0; color: #fff;}


