@charset "utf-8";
/* CSS Document */

#frame_library { width:934px; height:427px; position:absolute; top:10px; right:0; background:url(../images/p2-background-elements-thuvien.png) 0 0 no-repeat}
.titlepage { width:238px; height:40px; position:absolute; top:-25px; left:300px; background:url(../images/p2-background-elements-thuvien.png) -90px -430px no-repeat}
.titlepage h2 { margin:16px 0 0 50px;font-family:'UTMAndrogyne',Arial, Helvetica, sans-serif; font-size:27px; color:#009386;font-weight:100}
.search { width:212px; height:31px; position:absolute; top:-18px; right:73px; background:url(../images/p2-background-elements-thuvien.png) -550px -430px no-repeat}
.search input[type=text] { padding:8px 10px; font-size:12px; color:#888; background-color:#ebebeb; border:1px solid #fff; margin:7px 0 0 10px; width:170px; transition:all .3s}
.search input[type=text]:hover,.search input[type=text]:focus { background-color:#fffbe9; border-color:#fae16a; transition:all .3s}
.search .icon { width:35px; height:29px; background:url(../images/p2-background-elements-thuvien.png) -770px -430px no-repeat; position:absolute; top:2px; right:-56px}
.search .icon input[type=submit] { width:29px; height:26px; margin:3px 0 0 3px; background:url(../images/p2-background-elements-thuvien.png) -818px -433px no-repeat; transition:all .3s}
.search .icon input[type=submit]:hover { background-position:-858px -433px; cursor:pointer; transition:all .3s}

/* TAB */
.tableft { width:70px; position:absolute; top:40px; left:0}
.tableft .tab { width:66px; height:40px; background-color:#caa700; transition:all .3s}
.tableft .current { width:66px; height:52px; background-color:#caa700;}
.tableft .tab a { display:block; padding:10px 0 10px 7px; font-family:'UTMAndrogyne',Arial, Helvetica, sans-serif; font-size:13px; color:#f9ce00; transition:all .3s}
.tableft .current a { display:block; padding:17px 0 15px 7px; font-family:'UTMAndrogyne',Arial, Helvetica, sans-serif; font-size:13px; color:#f9ce00; transition:all .3s}
.tableft .tab.current { width:70px; height:52px; background:url(../images/p2-background-elements-thuvien.png) 0 -430px no-repeat}
.tableft .tab:hover { background-color:#a78a00; transition:all .3s}

/* GALLERY */
#wrap_item { position:absolute; top:25px; left:74px; width:923px; height:385px}
.item { width:194px; height:163px; border:2px dashed #f9ce00; border-radius:5px; margin:16px; float:left; position:relative}
.item .thumb { width:185px; height:156px; margin:4px 5px; border-radius:5px; overflow:hidden; position:absolute}
.thumb img { position:absolute; border-radius:5px; width:185px; height:156px; transition:all .3s}
.thumb .circle { width:86px; height:86px; border-radius:43px; background-color:#009386; border:1px dotted #c7edea; position:absolute; right:-33px; top:78px; transition:all .3s}
.thumb .circle span { padding:0 0 0 18px; height:16px; color:#f9ce00; font-size:12px; background:url(../images/p2-background-elements-thuvien.png) -90px -480px no-repeat; display:block; margin:20px 0 0 7px;font-weight:700}
.thumb .info { width:175px; height:30px; position:absolute; top:121px; background:rgba(255,255,255,0.7); font:10px Arial, Helvetica, sans-serif; color:#858585; padding:5px 0 0 10px; transition:all .3s}
.thumb .info span { display:block; font:12px Arial, Helvetica, sans-serif; color:#595959}
.thumb .like { height:16px; position:absolute; top:130px; right:7px; background-color:#360; background:url(../images/p2-background-elements-thuvien.png) -160px -480px no-repeat; padding:0 0 0 18px;font-size:12px; color:#009386; font-weight:700; transition:all .3s}
.thumb:hover .info,.thumb:hover .like,.thumb:hover .circle { top:200px; transition:all .3s}
.thumb:hover img { width:191px; height:162px; transition:all .3s; opacity:0.8}

/* Paging */
.paging { position:absolute; top:425px; left:700px; background:url(../images/p2-background-elements-thuvien.png) -330px -430px no-repeat; width:200px; height:27px; padding:7px 10px 0}
.paging a,.paging span { display:block; float:left; width:15px; height:15px;text-align:center; padding:3px; color:#caa700}
.paging a:hover,.paging a.pageon { color:#009386}
.paging a.prev { background:url(../images/p2-background-elements-thuvien.png) -330px -476px no-repeat}
.paging a.next { background:url(../images/p2-background-elements-thuvien.png) -360px -476px no-repeat; float:right}

/* Flower moving */
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	10% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	30% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	40% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	50% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	90% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}
@-moz-keyframes spaceboots {
	0% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	10% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	30% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	40% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	50% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	70% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	90% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	100% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
}
.sunflower {
	position:fixed; background:url(../images/sunflower.png) no-repeat; background-size:cover;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	-moz-animation-name: spaceboots;
	-moz-animation-duration: 4s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}
.sunflower.f1 { bottom:-82px; right:19px; width:66px; height:169px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f2 { bottom:-16px; right:144px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f3 { bottom:11px; right:184px; width:31px; height:79px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s}
.sunflower.f4 { bottom:-37px; right:93px; width:66px; height:169px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s}
.sunflower.f5 { bottom:-67px; right:62px; width:66px; height:169px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s}
.sunflower.f6 { bottom:-43px; right:85px; width:38px; height:97px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s}
.sunflower.f7 { bottom:-44px; right:37px; width:66px; height:169px; -webkit-animation-delay: 0.5s; animation-delay: 0.5s}
.sunflower.f8 { bottom:-60px; right:37px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}
.sunflower.f9 { bottom:-60px; right:115px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}
.sunflower.f10 { bottom:-44px; right:-6px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f11 { bottom:-103px; right:162px; width:66px; height:169px; -webkit-animation-delay: 0.2s; animation-delay: 0.3s}