body {width:810px; margin:0 auto; background:#fff; font-family:Arial;}
/* dùng cho upload htv3 */
.step2{display: none;}
.step2 h2{color:#fc9bb4;}
.step1 h2{color:#fc9bb4;}
.edit-avatar-region{display: none; width: 770px; z-index:99999; background-color: #EAEAEA; margin:0 auto; padding: 20px; position: absolute; top:2%}
.edit-avatar-region .close-btn{position: absolute; right:0px; top: 0px; width: 20px; height:20px; cursor: pointer;}
.profile-avatar img{cursor: pointer;}
#upload_article_form #frame-item-list {float: left;padding-left: 20px;width: 325px;}
#upload_article_form #frame-item-list .frame-item img {cursor:pointer;}
#upload_article_form #frame-item-list #frame-item-one {clear:both;}
#upload_article_form #frame-item-list #frame-item-two {clear:both; padding-top:15px;}
#upload_article_form #frame-item-list #frame-item-one .header-title-frame {padding-bottom:0;}
#upload_article_form #frame-item-list #frame-item-two .header-title-frame {padding-bottom:10px;}
#upload_article_form #frame-item-list .Frame-Mess #btn-guiloichuc { float:right;margin-right: 5px;}
#upload_article_form #frame-item-list #frame-item-one .frame-item {float:left; margin-right:5px;}
#upload_article_form #frame-item-list #frame-item-two .frame-item {float:left; margin-right:5px;}
#upload_article_form #frame-item-list .Frame-Mess #message{width:313px; height:130px; border:1px solid #b9b9b9; margin-top:6px;border-radius: 5px;}
#upload_article_form #Frame-Upload {float:left;width:450px;}
#frame-item-list .Frame-Mess {clear:both; margin-top:38px;}
#upload_article_form {height:340px; clear:both; padding-top:100px;}
#upload_article_form #FrameImg {z-index:90; position:absolute;}
#upload_article_form #CurrImg img { width:440px; height:340px}
.ShowCrop {position: absolute;top: 210px;left: 20px;}
.ShowCrop img {cursor:pointer;}
/* layout gui loi chuc */
#gui-loi-chuc{background:url(../img/thuvien.jpg) no-repeat; width:810px; height:600px;}
/*Hover bup be*/
.g01 { position:absolute; z-index:10; left: 500px;top: 493px;width: 57px;height: 70px; }
.g01 a {background:url(../img/011.png) no-repeat;display:block; width:62px; height:70px;margin-top: 5px;}
.g01 a:hover { background:url(../img/011.gif) no-repeat;margin-left: -7px;margin-top: 3px;width: 70px;height: 73px;display:block}
.g02 { position:absolute; z-index:10; left: 559px;top: 493px;width: 57px;height: 70px; }
.g02 a {background:url(../img/022.png) no-repeat;display:block; height:70px;margin-left: -4px;margin-top: 3px;}
.g02 a:hover { background:url(../img/022.gif) no-repeat;margin-left: -18px;margin-top: -1px;width: 120px;height: 117px;display:block}
.g03 { position:absolute; z-index:10; left: 606px;top: 501px;width: 57px;height: 70px;}
.g03 a {background:url(../img/033.png) no-repeat;display:block; height:70px;}
.g03 a:hover { background:url(../img/033.gif) no-repeat;margin-left: -12px;margin-top: -2px;width: 120px;height: 117px;display:block}
.g04 { position:absolute; z-index:10; left: 678px;top: 464px;width: 95px;height: 105px; }
.g04 a {background:url(../img/044.png) no-repeat;display:block; height:117px; width: 115px;}
.g04 a:hover { background:url(../img/044.gif) no-repeat;margin-left: -18px;margin-top: -7px;width: 172px;height: 152px;display:block}
.g05 { position:absolute; z-index:10; left: 747px;top: 491px;width: 57px;height: 70px; }
.g05 a {background:url(../img/055.png) no-repeat;display:block; height:70px; }
.g05 a:hover { background:url(../img/055.gif) no-repeat;margin-left: -19px;margin-top: -3px;width: 120px;height: 117px;display:block}

/* layout gioi thieu */
.home-btn {
	margin-right: 25px;
	width:19px;
	height:23px;
	background:url(../img/btnhome.png) top center no-repeat;
}
.home-btn:hover { background:url(../img/btnhome-hover.png)  top center no-repeat; }
#gioi-thieu{background:url(../img/thele.jpg) no-repeat; width:810px; height:600px;}
#gioi-thieu .top {padding-top:145px; width: 375px;margin-left: 116px;height: 344px; position:absolute; }
#gioi-thieu #container .top .content-top {background:url(../images/gioithieu_03.png) no-repeat; width:747px; height:149px; font-size:13px; padding-left:10px; padding-right:10px; text-align:justify;}
#gioi-thieu #container .top .content-left {float:left;width:245px; margin-right:15px;}
#gioi-thieu #container .top .content-left .title{ border-bottom:1px solid #dc859f; width:245px;}
#gioi-thieu #container .top .content-left .img {padding-top:10px; text-align:center;}
#gioi-thieu #container .top .content-left .btn {text-align:center; padding-top:15px;}
#gioi-thieu #container .top .title {color:#dc859f; padding-top:10px; font-weight:bold;line-height:20px;}
#gioi-thieu #container .top span {float:right;}
#gioi-thieu #container .top span a{color:#18b5f7; }
#gioi-thieu #container .top .text {line-height:18px;}
/* footer */
#footer {width:810px; height:25px; position: absolute; top: 575px;font-weight: bold;color: #ed145b; background: url(../img/upanh.png) 713px -10px no-repeat;}
#footer .footer-inn {float:right; margin-right:36px;margin-top:-1px;}
#footer .footer-inn li{float:left; list-style:none; font-size:12px;color:#ff0066; margin-top:7px;}
#footer .footer-inn li a{ text-decoration:none; color:#ff0066; padding:10px; text-transform:uppercase; font-weight:bold;}
#footer .footer-inn li a:hover{ text-decoration:none; color:#588604; padding:10px; text-transform:uppercase;}
#footer .footer-inn li a.atc{ text-decoration:none; color:#588604; padding:10px; text-transform:uppercase;}
/* thư viện lời chúc */
#thu-vien-loi-chuc{background:url(../img/thuvien.jpg) no-repeat; width:810px; height:600px;}
#thu-vien-loi-chuc .conten-thuvienloichuc #photo-item {float:left; padding-bottom:10px; width: 173px;overflow: hidden;height: 170px;background: white;margin:0 0 12px 25px;}
#thu-vien-loi-chuc .conten-thuvienloichuc #photo-item .name {color: #ed145b;font-size: 11px;font-weight: bold; clear:both;padding: 0px 0 5px 10px;}
#thu-vien-loi-chuc .conten-thuvienloichuc {padding-top:101px;position:relative;z-index:100;}
#thu-vien-loi-chuc .conten-thuvienloichuc #photo-item .like-comment {color:#3b5998; font-size:11px; padding:8px 0 0 10px;}
#thu-vien-loi-chuc .conten-thuvienloichuc #photo-item .like-comment .like { background:url(../images/thuvienloichuc_03.png) no-repeat left center; width:15px; height:17px; padding-left:20px; float:left;}
#thu-vien-loi-chuc .conten-thuvienloichuc #photo-item .like-comment .comment {background:url(../images/thuvienloichuc_05.png) no-repeat left center; width:15px; height:17px; padding-left:20px; float:left;}
#thu-vien-loi-chuc .phantrang {clear:both;float: right;margin-right: 15px; position:absolute; top:495px;right:-5px;z-index:100;}

#thu-vien-loi-chuc .phantrang .page_next {background:#ff6699; float:left;margin-right: 8px;}
#thu-vien-loi-chuc .phantrang .page_next a {color: #FFFFFF;font-size: 14px; text-decoration:none;display:block;padding:1px 7px 2px 6px}

#thu-vien-loi-chuc .phantrang .pgTracker_active {background:#99cc33; float:left; margin-right: 8px;}
#thu-vien-loi-chuc .phantrang .pgTracker_active a{color: #ff0066;font-size: 14px;text-decoration: none; display:block;padding: 2px 1px 1px 2px}

#thu-vien-loi-chuc .phantrang .pgTracker_deactive{background:#fff;float:left;margin-right: 8px;}
#thu-vien-loi-chuc .phantrang .pgTracker_deactive a {color: #ff0066;font-size: 14px;text-decoration:none;display:block;padding: 2px 1px 1px 2px}

#thu-vien-loi-chuc .phantrang .page_prev {background:#ff6699; float:left;margin-right: 8px;}
#thu-vien-loi-chuc .phantrang .page_prev a {color: #FFFFFF;font-size: 14px;text-decoration: none; display:block; padding: 1px 7px 2px 6px}

#waiting { display:none; z-index:9999; position: absolute; width:20000px; height:20000px; opacity:0.5; top:0; left:0; background:url(../images/loading.gif) center center no-repeat #000;}
/* chi tiết lời chúc */
#chi-tiet-loi-chuc{background:url(../img/chitiet.jpg) no-repeat; width:810px; height:701px;}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc {padding-top:110px;}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .left {padding-left:10px; width:440px; float:left; margin-right:20px}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .right {width:340px; float:left;}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .right .fb-like {float:left !important; width:340px;}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .right .avatar { float:left;margin-right: 5px;padding-bottom: 5px}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .right .fbname {color:#343434; font-size:14px;}
#chi-tiet-loi-chuc .content-chi-tiet-loi-chuc .right #fb-comments { overflow:auto; height:340px; clear:both;}
/* tớ ước */
#to-uoc {background:url(../images/touoc.jpg) no-repeat; width:810px;  height:582px;}
#to-uoc .to-uoc-content {padding-top:120px;}
#to-uoc .to-uoc-content #to-uoc-left{background:url(../images/touoc_03.png) no-repeat; width:414px; height:355px; margin-left:30px;float:left;}
#to-uoc .to-uoc-content #to-uoc-left #captchaimg{float:left; margin-right:10px; margin-top:50px;}
#to-uoc .to-uoc-content #to-uoc-left #code-captcha{float:left; margin-top:50px; margin-right:25px;}
#to-uoc .to-uoc-content #to-uoc-left #message-code{font-size:12px; color:#000;}
#to-uoc .to-uoc-content #to-uoc-left #letters-code{border:1px solid #a7a7a7; width:108px;}
#to-uoc .to-uoc-content #to-uoc-left #submit {background:url(../images/touoc_06.png) no-repeat; width:63px; height:98px; cursor:pointer; border:none;}
#to-uoc .to-uoc-content #to-uoc-left .to-uoc-content-left{margin-left: 33px ;padding-top: 15px;}
#to-uoc .to-uoc-content #to-uoc-left .to-uoc-content-left #form-to-uoc { margin-top:40px; width:350px;}
#to-uoc .to-uoc-content #to-uoc-left #message-to-uoc {border:none;background: none repeat scroll 0 0 transparent;}
#to-uoc .to-uoc-content #to-uoc-right {float:left; width:345px;}
#to-uoc .to-uoc-content #to-uoc-right #content-tu {clear:both;}
#to-uoc .to-uoc-content #to-uoc-right #content-tu #avatar {float:left; margin-right:10px; margin-bottom:10px; margin-left:10px; }
#to-uoc .to-uoc-content #to-uoc-right #content-tu #avatar img {border:1px solid #fff; width:32px; height:32px;}
/* video htv3 */
#video-htv3 {background:url(../images/video.jpg) no-repeat; width:810px;  height:582px;}
#video-htv3 #video-htv3-content {padding-top:120px;}
#video-htv3 #video-htv3-content #video-htv3-left-content .title{font-size:14px; color:#000; font-weight:bold;padding-top:10px;}
#video-htv3 #video-htv3-content #video-htv3-left {float:left; width:500px; margin-left:20px;}
#video-htv3 #video-htv3-content #video-htv3-right #content-tu {clear:both; 
    width: 310px; height:105px;}
#video-htv3 #video-htv3-content #video-htv3-right #content-tu img{float:left; margin-right:10px; border:1px solid #fff; cursor:pointer;}
#video-htv3 #video-htv3-content #video-htv3-right #content-tu .title{float:left; width:120px; cursor:pointer;}
#video-htv3 #video-htv3-content #video-htv3-right {float:left;}
/* chi tiết tin tức */
#chi-tiet-tin-tuc {background:url(../images/chitiettintuc.jpg) no-repeat; width:810px;  height:582px;}
#chi-tiet-tin-tuc .the-le-css .image {float: left;margin-right: 10px; margin-bottom:10px;}
#chi-tiet-tin-tuc .the-le-css .title {color:#dc859f; font-size:13px; font-weight:bold; padding-bottom:10px;}
#chi-tiet-tin-tuc .the-le-css .time {color:#666666; font-size:12px; padding-bottom:10px;}
#chi-tiet-tin-tuc .the-le-css .descreption {color:#333333; font-size:13px; font-weight:bold;height:75px;padding-bottom:10px;}
#chi-tiet-tin-tuc .the-le-css .body {color:#333333; font-size:13px;}
.logo-skintalk{width:232px; height:132px; position:absolute;top:0;left:0;background:url(../img/logo.png) 0 0 no-repeat;}
#simple-survey-box-popup{ display:none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background: rgba(0,0,0,0.8);z-index:1001; margin:0 auto;}
#simple-survey-box-popup-inner1{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:url('../img/huongdan.png') 0 0 no-repeat;z-index:1002;}
#closepopup{position:absolute; width:34px; height:34px; z-index:1002;top:123px; right:47px;}
#CurrImg{display: none;};