@charset "utf-8";
/* CSS Document */
/* ====================== Default ====================== */
* { margin:0; padding:0; border:0}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{ font-family: Arial,Helvetica,sans-serif}
strong,strong span,b,b a { font-weight:700}
em { font-style:italic; font-family:Arial, Helvetica, sans-serif}
ul,ol { list-style:none}
img { border:none}
a image {border: none}
a { text-decoration:none; color:#2398c9; outline: none}
a:hover { color:#ff7100; cursor:pointer}
p { padding:3px 0}
i { color:#999}
hr { clear:both; padding:0; margin:0; border:0}
.italic { font-style:italic}
.block { display:block}
.clear { clear:both} 
.right { float: right} 
.left { float: left}
h1{font-size:2.2em}
h2{font-size:2em;font-weight:300}
h3{font-size:1.8em;font-weight:300}
h4{font-size:1.6em}
h5{font-size:1.4em}
p{font-size:1.2em}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input:-ms-input-placeholder,textarea:-ms-input-placeholder { color:#bbb; font-style:italic;font-family:Arial, Helvetica, sans-serif}
body{ font:14px/18px Arial, Helvetica, sans-serif; background-size:100%; color:#000; overflow-y:hidden}
html { background:url(../images/p2-background.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}
h1 { position:fixed; top:-99px}
.f12 { font-size:12px}
.f13 { font-size:13px}
.f14 { font-size:14px}
.f15 { font-size:15px}

/* ------------------- */

@font-face {
  font-family: 'UTMAndrogyne';
  src: url('../../css/fonts/UTMAndrogyne.eot');
  src: url('../../css/fonts/UTMAndrogyne.eot?#iefix') format('embedded-opentype'),
url('../../css/fonts/UTMAndrogyne.woff') format('woff'),
url('../../css/fonts/UTMAndrogyne.ttf') format('truetype'),
url('../../css/fonts/UTMAndrogyne.svg#UTMAndrogyne') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UVNVan';
  src: url(fonts/UVNVan.eot);
  src: url(fonts/UVNVan.eot?#iefix) format('embedded-opentype'),
		url(fonts/UVNVan.woff) format('woff'),
		url(fonts/UVNVan.ttf) format('truetype'),
		url(fonts/UVNVan.svg#UVNVan) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* TOP BAR */
.wrapper_1000 { width:1000px; margin:auto; position:relative}
#topbar { width:100%; height:128px}
#topbar .repeatmenu { width:100%; height:48px; position:absolute}
#logo { width:181px; height:131px; position:absolute; top:9px; left:-20px}
.iconKun { width:85px; height:67px; background:url(../../images/p2-background-elements.png) -560px -780px no-repeat; position:absolute; right:110px}
.login { float:right; margin:20px 40px 0 0; transition:all .3s; background-color:#fff; border-radius:5px; padding:3px 8px 8px 0px}
.login a{ font-family:'UVNVan'; font-size:16px; color:#009b8c; padding:8px 10px; transition:all .3s}
.login span {width: 0px;height: 0px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 6px solid #009b8c; float:right; margin-top:9px; transition:all .3s}
.login:hover { background-color:#009b8c}
.login:hover a { color:#fff}
.login:hover span { border-top: 6px solid #fff}
.welcome { float:right; margin:20px 80px 0 0; width:110px}
.welcome i { font-size:10px; color:#fff; display:block; line-height:14px}
.welcome b { font-size:12px; display:block; color:#fff}
.welcome a { font-size:11px; color:#fff; display:block; transition:all .3s}
.welcome a:hover { padding-left:10px; color:#F00; transition:all .3s}

a.facebook { width:30px; height:30px; background:url(../images/facebook-icon.png) no-repeat; opacity:.8; position:absolute; top:20px; right:0; transition:all .3s}
a.facebook:hover { box-shadow:0px 0px 5px #fff; opacity:1; transition:all .3s}


/* Menu Dropdown */
nav {position:absolute; left:300px; top:20px}
nav ul li { float:left}
nav ul li.round span { display:block; width:6px; height:6px; border-radius:3px; background-color:#fff; float:left; margin:12px 10px 0;}
nav ul li a { font-family:'UVNVan'; display:block; padding:5px 10px; color:#fff; font-size:16px; border-radius:5px; transition:all .3s}
nav ul li a:hover,nav ul li a.active { color:#009b8c; background-color:#fff; transition:all .3s}

/* Flower moving */
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	10% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	30% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	40% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	50% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
	90% { -webkit-transform: translate(0px, 0px) rotate(10deg); }
	100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}
@-moz-keyframes spaceboots {
	0% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	10% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	20% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	30% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	40% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	50% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	60% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	70% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
	80% { -moz-transform: translate(0px, 0px) rotate(10deg); }
	90% { -moz-transform: translate(0px, 0px) rotate(0deg); }
	100% { -moz-transform: translate(0px, 0px) rotate(-10deg); }
}
.sunflower {
	position:absolute; background:url(../../images/sunflower.png) no-repeat; background-size:cover;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	-moz-animation-name: spaceboots;
	-moz-animation-duration: 4s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
}

.sunflower.f1 { top:428px; left:37px; width:66px; height:169px}
.sunflower.f2 { top:457px; left:92px; width:48px; height:123px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s}
.sunflower.f3 { top:478px; left:130px; width:31px; height:79px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s}
.sunflower.f4 { top:456px; left:387px; width:66px; height:169px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s}
.sunflower.f5 { top:446px; left:447px; width:66px; height:169px; -webkit-animation-delay: 0.3s; animation-delay: 0.3s}
.sunflower.f6 { top:474px; left:492px; width:38px; height:97px; -webkit-animation-delay: 0.1s; animation-delay: 0.1s}
.sunflower.f7 { top:432px; left:770px; width:66px; height:169px; -webkit-animation-delay: 0.5s; animation-delay: 0.5s}
.sunflower.f8 { top:460px; left:831px; width:48px; height:123px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s}